@model IEnumerable<SkillsBook.Models.Models.QuestionModel>
@using SkillsBook.Models.DAL
<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="col-md-12">
                <div id="pagination" style="float:right">
                    <ul class="pagination pagination-sm">
                        @for (var i = 1; i <= Convert.ToInt32(ViewData["TotalPages"]); i++){
                            if (Convert.ToInt32(ViewData["CurrentPage"]) == i)
                            { 
                                if (i < 1)
                                { continue; }
                                <li class="active"><a href="javascript:void(0)">@i</a></li>
                            }
                            else { <li class=""><a href='@Url.Action("QuestionsOnly","Question",new {page=i})'>@i</a></li> }
                        }
                    </ul>
                </div>
                <br /><br /><br />
                <div class="wp-block-body">
                    <h5 class="article-label text-caps green" style="height:30px;padding-left:10px;padding-top:5px;">Questions</h5>
                    <hr />

                    @foreach (var item in Model)
                    {
                        <a href='@Url.Action("Answer","Question",new {questionId=@item.QuestionId})' style="color: #136ad5; font-size: medium">
                            <strong>@Html.Raw(item.Question)</strong>
                            <br />
                        </a>
                      
                        <span class="post-author">By: @item.Username | Asked On: @item.AskedOn.ToShortDateString() | Category: @item.Category | Total Answers: @item.TotalAnswers</span>
                        <br />
                        
                        <a href='@Url.Action("Answer","Question",new {questionId=@item.QuestionId})' style="color: #136ad5; font-size: medium"> Answer Now </a>
                        <hr />
                    }
                    @if (Model.Count() > Constants.BlocksizeMax)
                    {
                        <a class="btn btn-danger" href='javascript:void(0)'>More Questions And Answers</a>
                    }
                  
                    <div id="pagination" style="float:right">
                        <ul class="pagination pagination-sm">
                            @for (var i = 1; i <= Convert.ToInt32(ViewData["TotalPages"]); i++)
                            {
                                if (Convert.ToInt32(ViewData["CurrentPage"]) == i)
                                {
                                    if (i < 1)
                                    { continue; }
                                    <li class="active"><a href="javascript:void(0)">@i</a></li>
                                }
                                else
                                {
                                <li class=""><a href='@Url.Action("QuestionsOnly","Question",new {page=i})'>@i</a></li> }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
