 <!-- MAIN CONTENT -->
@model System.Threading.Tasks.Task<IList<SkillsBook.Models.Models.ThreadModel>>
@using SkillsBook.Models.DAL;
@{
    string who = null;
    bool isMobile = false;
    string strUserAgent = Request.UserAgent.ToString().ToLower();
    if (Request.Browser.IsMobileDevice == true || strUserAgent.Contains("iphone") ||
        strUserAgent.Contains("blackberry") || strUserAgent.Contains("android")
        )
    {
        isMobile = true;
    }
}
@if (Request.Cookies["LogOnCookie"] != null)
{
    who = Request.Cookies["LogOnCookie"]["username"];
   
}

<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Recent Threads</h2>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    @if (who == null)
                    {
                        <li><a href="javascript:void(0)">Welcome and thank you for visiting. </a></li>
                        <br />
                    }
                    else
                    {
                        <li><a href="javascript:void(0)">Welcome @who</a></li>
                        <br />
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    @Html.Partial("Partial.ThreadModelResults")
                    <a href="javascript:void(0)" id="reqUrl" data-url='@Url.Action("GetMorePost","Page")'></a>
                    <input type="hidden" id="_psize" value="@Constants.BlocksizeInitialLoad" />
                    <input type="hidden" id="_psizeConst" value="@Constants.BlocksizeInitialLoad" />
                    <div id="morethreads">
                    </div>
                    <button type="submit" class="btn btn-lg btn-block-bm btn-alt btn-icon btn-icon-right fa fa-angle-down mt-10" data-bind="click:loadMoreThreads">
                        <span id="moreThread">Load More</span>
                    </button>
                </div>
                @if (isMobile)
                {
                    <br /><br />
                }
                <div class="col-md-3">
                    @Html.Partial("Partial.MostTrendingTagGeneral")
                    @Html.Partial("Partial.MostTrendingTagAnnouncement")
                    @Html.Partial("Partial.MostViewed")
                    @Html.Partial("Partial.MostResponded")
                    @Html.Partial("Partial.MostVoted")
                </div>
            </div>
        </div>
    </div>
</section>