@{
    ViewBag.Title = "ScanTickers";
}

<div class="alert alert-info">
    <span style="font-size:medium">
        This page lets you scan each and every penny tickers with maximum 20 tickers at once.
        Find the hidden catalyst and be profitable. Only penny stocks traded in NASDAQ, NYSE and NYSE MKT are listed.
        If you click Scan Batch button, it will scan the news for the tickers associated with that button.
    </span>
    <br /><br /><br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan1 })" class="btn btn-base">Scan Batch - 1</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan1</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan2 })" class="btn btn-base">Scan Batch - 2</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan2</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan3 })" class="btn btn-base">Scan Batch - 3</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan3</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan4 })" class="btn btn-base">Scan Batch - 4</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan4</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan5 })#" class="btn btn-base">Scan Batch - 5</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan5</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan6})" class="btn btn-base">Scan Batch - 6</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan6</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan7 })" class="btn btn-base">Scan Batch - 7</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan7</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan8 })" class="btn btn-base">Scan Batch - 8</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan8</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan9 })" class="btn btn-base">Scan Batch - 9</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan9</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan10 })" class="btn btn-base">Scan Batch - 10</a>
    <h6><small>Tickers Include</small>- @ViewBag.Scan10</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan11})" class="btn btn-base">Scan Batch - 11</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan11</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan12 })" class="btn btn-base">Scan Batch - 12</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan12</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan13 })" class="btn btn-base">Scan Batch - 13</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan13</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan14 })" class="btn btn-base">Scan Batch - 14</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan14</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan15 })" class="btn btn-base">Scan Batch - 15</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan15</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan16 })" class="btn btn-base">Scan Batch - 16</a>
    <h6><small>Tickers Include</small>- @ViewBag.Scan16</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan17 })" class="btn btn-base">Scan Batch - 17</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan17</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan18 })" class="btn btn-base">Scan Batch - 18</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan18</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan19 })" class="btn btn-base">Scan Batch - 19</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan19</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan20 })" class="btn btn-base">Scan Batch - 20</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan20</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan21})" class="btn btn-base">Scan Batch - 21</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan21</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan22 })" class="btn btn-base">Scan Batch - 22</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan23</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan23 })" class="btn btn-base">Scan Batch - 23</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan23</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan24 })" class="btn btn-base">Scan Batch - 24</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan24</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan25 })" class="btn btn-base">Scan Batch - 25</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan25</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan26 })" class="btn btn-base">Scan Batch - 26</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan26</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan27 })" class="btn btn-base">Scan Batch - 27</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan27</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan28 })" class="btn btn-base">Scan Batch - 28</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan28</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan29})" class="btn btn-base">Scan Batch - 29</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan29</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan30 })" class="btn btn-base">Scan Batch - 30</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan30</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan31})" class="btn btn-base">Scan Batch - 31</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan31</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan32})" class="btn btn-base">Scan Batch - 32</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan32</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan33 })" class="btn btn-base">Scan Batch - 33</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan33</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan34 })" class="btn btn-base">Scan Batch - 34</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan34</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan35 })" class="btn btn-base">Scan Batch - 35</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan35</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan36 })" class="btn btn-base">Scan Batch - 36</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan36</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan37 })" class="btn btn-base">Scan Batch - 37</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan37</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan38 })" class="btn btn-base">Scan Batch - 38</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan38</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan39 })" class="btn btn-base">Scan Batch - 39</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan39</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan40 })" class="btn btn-base">Scan Batch - 40</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan40</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan41 })" class="btn btn-base">Scan Batch - 41</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan41</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan42})" class="btn btn-base">Scan Batch - 42</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan43</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan43 })" class="btn btn-base">Scan Batch - 43</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan43</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan44 })" class="btn btn-base">Scan Batch - 44</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan44</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan45})" class="btn btn-base">Scan Batch - 45</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan45</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan46 })" class="btn btn-base">Scan Batch - 46</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan46</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan47 })" class="btn btn-base">Scan Batch - 47</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan47</h6>

    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan48})" class="btn btn-base">Scan Batch - 48</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan48</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan49 })" class="btn btn-base">Scan Batch - 49</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan49</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan50 })" class="btn btn-base">Scan Batch - 50</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan50</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan51 })" class="btn btn-base">Scan Batch - 51</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan51</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan52 })" class="btn btn-base">Scan Batch - 52</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan52</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan53})" class="btn btn-base">Scan Batch - 53</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan53</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan54 })" class="btn btn-base">Scan Batch - 54</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan54</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan55 })" class="btn btn-base">Scan Batch - 55</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan55</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan56 })" class="btn btn-base">Scan Batch - 56</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan56</h6>
    <br />
    <a href="@Url.Action("Index", "Home", new { symbols = ViewBag.Scan57 })" class="btn btn-base">Scan Batch - 57</a>
    <h6><small>Tickers Include</small> - @ViewBag.Scan57</h6>
 



</div>


